.note__container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.note {
    width: 15rem;
    height: min-content;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
}

.note:hover {
    box-shadow: 0 1px 3px 1px rgba(60,64,67,0.149);
}
.note__delete {
    font-size: 18px;
    opacity: 0;
    transition: all .1s linear;
    cursor: pointer;
    display: flex;
    align-items: end;
}

.note:hover .note__delete {
    opacity: 1;
    transition: all .1s linear;
}

.note__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.note__title {
    margin: 0;
    margin-right: .5rem;
    margin-bottom: .5rem;
    font-size: 16px;
}

.note__description {
    overflow-wrap: break-word;
}

.bottom_icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}