<div class="page__container">
    <div class="note__container">
        <div *ngFor = "let note of notesService.notes" class="note" [ngStyle]="{'background-color': '#' + note.color}" [ngStyle]="{'background-color': '#' + note.color, 'border': note.color === 'FFFFFF' ? '1px solid lightgrey' : null }">
            <div class="note__header">
                <h2 class="note__title">{{note.title}}</h2>
                <mat-icon class="note__delete" (click)="deleteNote(note)">delete</mat-icon>
            </div>
            <p class="note__description">{{note.description}}</p>
            <div class="bottom_icons">
                <mat-icon class="note__delete">palette</mat-icon>
                <mat-icon class="note__delete">push_pin</mat-icon>
            </div>
        </div>
    </div>
</div>